In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('../data/meteorites/Meteorite_Landings.csv')

In [22]:
df.shape

(45716, 10)

In [5]:
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [19]:
df.shape
df.dropna(inplace=True)
df.shape

(38115, 10)

In [20]:
df.shape

(38115, 10)

In [8]:
df.isna().sum(axis=0)

name              0
id                0
nametype          0
recclass          0
mass (g)        131
fall              0
year            291
reclat         7315
reclong        7315
GeoLocation    7315
dtype: int64

In [15]:
df[:4].apply(lambda x: x['nametype'] + " - " + str(x['year']), axis=1)

0    Valid - 1880.0
1    Valid - 1951.0
2    Valid - 1952.0
3    Valid - 1976.0
dtype: object