In [ ]:
import pandas as pd

### Basic DataFrame

In [61]:
data = {
        'a': [1,2,1],
        'b': ["ben", "will", "will"],
        'c': [22.3, 1, -10],
}

df = pd.DataFrame(data)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      object
 2   c       3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes

In [68]:
df

   a     b     c
0  1   ben  22.3
1  2  will   1.0
2  1  will -10.0

### Books DataFrame

In [23]:
# (E)xtract
books = pd.read_csv('../data/goodreads-10k/books.csv')

In [25]:
# (T)ransform
# books

In [7]:
books.head(3)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...

In [71]:
after_2015 = books['original_publication_year'] > 2015
books[after_2015]

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: original_publication_year, Length: 10000, dtype: bool

In [76]:
import random

In [78]:
random.choice(["a"])

'a'

In [75]:
books[ books['original_publication_year'] > 2015 ].shape

(209, 23)

In [73]:
# Pandas Usages:

# 1. ETL step to clean and prepare for:
#   - Machine Learning / Modelling
#   - Visualization in matplotlib seaborn and plotly (python based viz tools)

# 2. EDA on initial dataset
#   - Exploratory Data Anlysis
#   
# DataFrame, Series, Index

In [ ]:
data = {
        'a': [1,2,1],
        'b': ["ben", "will", "will"],
        'c': [22.3, 1, -10],
}

df = pd.DataFrame(data)

df.info()

In [ ]:
books = pd.read_csv('../data/goodreads-10k/books.csv')
movies = pd.read_csv('../data/wiki-movies/wiki_movie_plots_deduped.csv')

In [ ]:
# DF -> Series -> FilteredColDF (filtering Cols)
type(movies)
title_series = movies['Title']
print(type(title_series))

title_genre_df = movies[['Title', 'Genre']]
print(type(title_genre_df))

title_movies_df = movies[['Title']]
type(title_movies_df)

In [ ]:
after_2015 = books['original_publication_year'] > 2015
books[after_2015]

books[ books['original_publication_year'] > 2015 ].shape

In [ ]:
titles = movies['Title']
titles

unique_title = list(set(titles.to_list()))
pd.Series(unique_title)

len(titles.unique())

len(titles), len(unique_title), len(titles)- len(unique_title)

len(movies['Title'].value_counts())

In [ ]:
# movies.Genre.value_counts()
top_genres = movies['Genre'].value_counts()
top_genres[:10]

sub_string = 'comedy'
is_comedy = movies['Genre'].map(lambda x: sub_string in x)  # apply to each item

is_comedy.sum()

# filter rows pattern
# 1.) find expr that creates a series of True/Falses (same length as the original DF)
# 2.) use the result of that expression to index the dataframe
is_comedy = movies['Genre'] == 'comedy'
movies[is_comedy]