In [1]:
import pandas as pd

In [2]:
!ls ../data/wiki-movies/

wiki_movie_plots_deduped.csv

In [3]:
movies = pd.read_csv('../data/wiki-movies/wiki_movie_plots_deduped.csv')

In [4]:
movies.shape

(34886, 8)

In [22]:
type(pd.NA)

pandas._libs.missing.NAType

In [26]:
movies['Cast'][100:102]

100    Lea Leland, Leonid Samoloff
101                  Dustin Farnum
Name: Cast, dtype: object

In [17]:
pd.isna(movies['Cast'][0])

True

In [18]:
pd.isna(pd.NA)

True

In [19]:
pd.isnull(pd.NA)

True

In [13]:
movies['Cast'][0]

float

In [29]:
titles = movies['Title']

In [31]:
unique_titles = list(set(titles.to_list()))

len(unique_titles), len(titles)

(32432, 34886)

In [33]:
len(titles.unique())

32432

In [ ]:
movies.groupby()

In [14]:
movies.dtypes

Release Year         int64
Title               object
Origin/Ethnicity    object
Director            object
Cast                object
Genre               object
Wiki Page           object
Plot                object
dtype: object

In [10]:
movies.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [9]:
movies.isnull().apply(sum, axis=0)

Release Year           0
Title                  0
Origin/Ethnicity       0
Director               0
Cast                1422
Genre                  0
Wiki Page              0
Plot                   0
dtype: int64

In [8]:
movies.isna().apply(sum, axis=0)

Release Year           0
Title                  0
Origin/Ethnicity       0
Director               0
Cast                1422
Genre                  0
Wiki Page              0
Plot                   0
dtype: int64

### Duplicated Titles

In [46]:
movies.columns

Index(['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast',
       'Genre', 'Wiki Page', 'Plot'],
      dtype='object')

In [52]:
names = ['will', 'ben', 'will', 'heather']
unique_names = list(set(names))
unique_names

['heather', 'ben', 'will']

In [56]:
# pandas => python data structure
titles = movies['Title']
titles

0                  Kansas Saloon Smashers
1           Love by the Light of the Moon
2                 The Martyred Presidents
3        Terrible Teddy, the Grizzly King
4                  Jack and the Beanstalk
                       ...
34881                   The Water Diviner
34882                  Çalgı Çengi İkimiz
34883                        Olanlar Oldu
34884                    Non-Transferable
34885                  İstanbul Kırmızısı
Name: Title, Length: 34886, dtype: object

In [62]:
unique_title = list(set(titles.to_list()))
pd.Series(unique_title)

0                                      Horizons West
1                                Big Top Scooby-Doo!
2                                     The Banishment
3                                    East Meets West
4                                      Little Caesar
                            ...
32427                                   Cracked Nuts
32428                             A Touch of Larceny
32429                                           Chaw
32430                  Amityville II: The Possession
32431    Fairy Tail the Movie: The Phoenix Priestess
Length: 32432, dtype: object

In [61]:
len(titles), len(unique_title), len(titles)- len(unique_title)

(34886, 32432, 2454)

In [63]:
len(movies['Title'])

34886

In [65]:
len(movies['Title'].value_counts())

32432

In [68]:
titles = movies['Title']
len(titles.unique())

32432

In [82]:
# DF -> Series -> FilteredColDF (filtering Cols)
type(movies)
title_series = movies['Title']
print(type(title_series))

title_genre_df = movies[['Title', 'Genre']]
print(type(title_genre_df))

title_movies_df = movies[['Title']]
type(title_movies_df)

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

pandas.core.frame.DataFrame

In [87]:
# Filtering Rows
is_comedy = movies['Genre'] == 'comedy'
is_comedy.sum()

4379

In [91]:
s = 'romantic comedy'
s == 'comedy'

False

In [95]:
sub_string = 'comedy'
is_comedy = movies['Genre'].map(lambda x: sub_string in x)  # apply to each item

In [98]:
is_comedy.sum()

7266

In [99]:
is_comedy

0        False
1        False
2        False
3        False
4        False
         ...
34881    False
34882     True
34883     True
34884     True
34885    False
Name: Genre, Length: 34886, dtype: bool

In [101]:
# filter rows pattern
# 1.) find expr that creates a series of True/Falses (same length as the original DF)
# 2.) use the result of that expression to index the dataframe
is_comedy = movies['Genre'] == 'comedy'
movies[is_comedy]

In [89]:
movies[is_comedy]

(4379, 8)

In [83]:
movies.Genre.value_counts()

unknown                          6083
drama                            5964
comedy                           4379
horror                           1167
action                           1098
                                 ...
cbc-tv miniseries                   1
bio-drama                           1
national film board docudrama       1
cult drama                          1
horror romantic comedy              1
Name: Genre, Length: 2265, dtype: int64

In [45]:
movies['Genre']

0                unknown
1                unknown
2                unknown
3                unknown
4                unknown
              ...
34881            unknown
34882             comedy
34883             comedy
34884    romantic comedy
34885           romantic
Name: Genre, Length: 34886, dtype: object

In [43]:
top_genres = movies['Genre'].value_counts()
top_genres[:10]

unknown      6083
drama        5964
comedy       4379
horror       1167
action       1098
thriller      966
romance       923
western       865
crime         568
adventure     526
Name: Genre, dtype: int64