In [3]:
import pandas as pd
import requests
url = "https://api.census.gov/data/2018/abscb?get=GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,VET_GROUP,VET_GROUP_LABEL,QDESC,QDESC_LABEL,BUSCHAR,BUSCHAR_LABEL,YEAR,FIRMPDEMP,FIRMPDEMP_F,FIRMPDEMP_PCT,FIRMPDEMP_PCT_F,RCPPDEMP,RCPPDEMP_F,RCPPDEMP_PCT,RCPPDEMP_PCT_F,EMP,EMP_F,EMP_PCT,EMP_PCT_F,PAYANN,PAYANN_F,PAYANN_PCT,PAYANN_PCT_F,FIRMPDEMP_S,FIRMPDEMP_S_F,FIRMPDEMP_PCT_S,FIRMPDEMP_PCT_S_F,RCPPDEMP_S,RCPPDEMP_S_F,RCPPDEMP_PCT_S,RCPPDEMP_PCT_S_F,EMP_S,EMP_S_F,EMP_PCT_S,EMP_PCT_S_F,PAYANN_S,PAYANN_S_F,PAYANN_PCT_S,PAYANN_PCT_S_F&for=us:*&QDESC_LABEL=SPOUSES"
r = requests.get(url)
data = r.json()
df = pd.DataFrame(data[1:], columns=data[0])
df.head(3)

,GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP,ETH_GROUP_LABEL,RACE_GROUP,RACE_GROUP_LABEL,...,EMP_S,EMP_S_F,EMP_PCT_S,EMP_PCT_S_F,PAYANN_S,PAYANN_S_F,PAYANN_PCT_S,PAYANN_PCT_S_F,QDESC_LABEL,us
0,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,0.5,None,0.0,X,0.5,None,0.0,X,SPOUSES,1
1,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,4.8,None,0.5,None,4.3,None,0.4,None,SPOUSES,1
2,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,8.3,None,0.5,None,5.8,None,0.3,None,SPOUSES,1
3,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,6.7,None,0.1,None,7.8,None,0.1,None,SPOUSES,1
4,0100000US,United States,00,Total for all sectors,001,Total,001,Total,00,Total,...,0.8,None,0.9,None,1.7,None,0.6,None,SPOUSES,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8106,0100000US,United States,99,Industries not classified,004,Equally male/female,028,Equally Hispanic/non-Hispanic,00,Total,...,0.0,D,0.0,D,0.0,D,0.0,D,SPOUSES,1
8107,0100000US,United States,99,Industries not classified,001,Total,029,Non-Hispanic,00,Total,...,20.8,None,0.0,X,3.1,None,0.0,X,SPOUSES,1
8108,0100000US,United States,99,Industries not classified,001,Total,029,Non-Hispanic,00,Total,...,51.1,None,19.3,None,12.6,None,2.9,None,SPOUSES,1
8109,0100000US,United States,99,Industries not classified,001,Total,029,Non-Hispanic,00,Total,...,36.7,None,9.8,None,13.1,None,2.1,None,SPOUSES,1
8110,0100000US,United States,99,Industries not classified,001,Total,029,Non-Hispanic,00,Total,...,28.7,None,0.1,None,37.4,None,0.2,None,SPOUSES,1