# Intro to Pandas - Exercise

In this lesson, we have given you the starting data.  Now let's explore the UCI ML Zoo Dataset using `pandas`.

Put the `zoo.csv` file in the same folder as this notebook.  Then answer the following questions using code.

## Exercise Questions

1. What is the code to import our zoo dataset into a variable named `animals`?

In [1]:
import pandas as pd
animals = pd.read_csv('zoo.csv')

2. What is the type of the `animals` variable?

In [2]:
type(animals)

pandas.core.frame.DataFrame

3. How many animals are in this dataset?

In [3]:
len(animals)

101

4. How many rows and columns are in this dataset?

In [4]:
animals.shape

(101, 18)

5\. What are the columns of this dataset?

In [5]:
animals.columns

Index(['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne',
       'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous',
       'fins', 'legs', 'tail', 'domestic', 'catsize', 'class_type'],
      dtype='object')

6\. Are there any non-null observations?

In [6]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
animal_name    101 non-null object
hair           101 non-null int64
feathers       101 non-null int64
eggs           101 non-null int64
milk           101 non-null int64
airborne       101 non-null int64
aquatic        101 non-null int64
predator       101 non-null int64
toothed        101 non-null int64
backbone       101 non-null int64
breathes       101 non-null int64
venomous       101 non-null int64
fins           101 non-null int64
legs           101 non-null int64
tail           101 non-null int64
domestic       101 non-null int64
catsize        101 non-null int64
class_type     101 non-null int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

7\. How do you list the columns and their types?

In [7]:
animals.dtypes

animal_name    object
hair            int64
feathers        int64
eggs            int64
milk            int64
airborne        int64
aquatic         int64
predator        int64
toothed         int64
backbone        int64
breathes        int64
venomous        int64
fins            int64
legs            int64
tail            int64
domestic        int64
catsize         int64
class_type      int64
dtype: object

8. We want to explore animal names, legs, and catsize.  Filter `animals` to only use those fields.

In [8]:
animals = animals[['animal_name','legs','catsize']]

9\. What are the first 6 rows of this dataset?

In [9]:
animals.head(6)

  animal_name  legs  catsize
0    aardvark     4        1
1    antelope     4        1
2        bass     0        0
3        bear     4        1
4        boar     4        1
5     buffalo     4        1

10\. What are the last 3 rows of this dataset?

In [34]:
animals.tail(3)

    animal_name  legs  catsize
98         wolf     4        1
99         worm     0        0
100        wren     2        0

11\. What are the values for `legs`? How many observations are there for each value?

In [39]:
animals.legs.value_counts()

4    38
2    27
0    23
6    10
8     2
5     1
Name: legs, dtype: int64

12\. Let's filter our animal set further to only include legged animals.  Set `animals` to this filtered set.

In [41]:
animals = animals[animals.legs > 0]

13\. What is the largest amount of legs?

In [42]:
animals.legs.nlargest(1)

53    8
Name: legs, dtype: int64

14\. Which animals have the largest amount of legs?

In [43]:
animals[animals.legs == 8]

   animal_name  legs  catsize
53     octopus     8        1
72    scorpion     8        0

15\. Looking at the legs, there are mostly even numbered values.  Which animal has 5 legs?  Try to guess it before writing the code.

In [44]:
animals[animals.legs == 5]

   animal_name  legs  catsize
85    starfish     5        0